.modal-90w {
  width: 100%;
  max-width: none;
}

$azul1: #0404d4;
$azul2: #28b4ec;
$principal-color: #1f4aa7;
$secondary-color: #ce3112;
$third-color: #077191;
$gray-color: #e9ecef;
$spacer: 1rem;
html {
  background-color: $gray-color;
}
.titulo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.subtitulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content {
  margin-left: 250px;
  background-color: white;
  .contenedor {
    margin-top: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
  }
  .contenedor1 {
    margin-top: 5rem;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: $gray-color;
  }
}
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}

// estilos para el contenedor del login
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $gray-color;
}
/* Estilos para el contenedor del formulario (login) */
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 300px;
  text-align: center;
  .btn2 {
    display: inline-block;
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
  .btn2:disabled {
    background-color: #ccc;
    color: #fff;
    transition: background-color 0.5s;
  }
  button {
    border: none;
    color: $azul2;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: $azul1;
    transition: background 1s;
  }
}
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.links {
  margin-top: 20px;
}
.links a {
  color: $third-color;
  text-decoration: none;
  margin-right: 10px;
}

/* Animación de caída solo del login*/
.animated-drop {
  animation: drop 0.5s;
}
@keyframes drop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// // estilos para el sidebar
.sidebar {
  display: block;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(90deg, $azul1, $azul2);
  color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  .sidebar-header {
    width: 250px;
    height: 70px;
    background: $gray-color;
    text-align: center;
    img {
      width: 80px;
      height: 50px;
    }
  }
}
@media (max-width: 768px) {
  .sidebar .sidebar-header {
    display: none;
  }
}
.lii {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  &.active {
    background-color: $gray-color;
    color: $secondary-color;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
  }
}

.sidebar.open {
  transform: translateX(0);
}
.sidebar ul.components {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  overflow-y: auto;
  height: calc(100vh - 70px);
}
.sidebar ul.components li {
  flex: 1;
}
.sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  list-style: none;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
}
.sidebar ul li i {
  margin-right: 10px;
}

.sidebar ul li:hover {
  background: #e9ecefa6;
  transition: background 1s;
  color: $secondary-color;
}

.btn-primary {
  display: block;
  position: fixed;
  background-color: red;
  bottom: 0;
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    z-index: 1;
  }
  .sidebar.open {
    transform: translateX(-100%);
  }
}
// estilos para el navbar
.navbar {
  padding: 0 20px;
  background: linear-gradient(180deg, $azul1, $azul2);
  height: 50px;
  margin-left: 250px;
}
.navbar .icon {
  color: white;
  font-size: 24px;
}
.navbar .icon:hover {
  cursor: pointer;
  color: $secondary-color;
}
@media (max-width: 768px) {
  .navbar {
    margin-left: 0;
  }
}

// estilos para el componetne de la tabla
.table-responsive {
  margin: 20px auto;
  max-width: 90%;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: $gray-color;
}

// hoover personalizado
.grow {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.grow:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}

// estilos para hoover de BotonEditarModal dentro de la tabla
.table-row .actions {
  display: none;
}

.table-row:hover .actions {
  display: inline-block;
}
